.error {
  color: red !important;
}

.posts {
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.category {
  color: white;
  padding: 15px;
}

.category-list {
    list-style: none;
}

.notice {
  border: 1px solid #95d496;
  background-color: #95d49670;
  padding: 2px 10px;
}
